@charset"UTF-8";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
}

.conteiner-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 90px;
}


.img-1 {
    width: 150px;
    align-items: center;
    z-index: 1;


}

.conteiner-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    gap: 17px;
    opacity: 0;
    filter: blur(15px);
    transition: all 3s;
    transform: translate(-100%);

}

.show {
    opacity: 1;
    transition: all 3s;
    filter: blur(0);
    transform: translate(0);

}

.img-2 {
    width: 100%;
    height: 300px;
}



h1,
h2,
h3 {
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: 900;

}

p {
    color: white;
    font-size: 20px;
    margin: 25px;
    text-indent: 14px;
}

button {
    width: 250px;
    height: 50px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #efb810;
}





.img-4 {
    width: 100%;
    border-radius: 6px;

}




.img-5 {
    width: 120px;
    margin-top: -170px;
    border-radius: 10px;
    border: 3px solid #efb810;
}

.logo-play {
    width: 30px;

}



.xbox {
    width: 25px;
}

.pc {
    width: 60px;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;


}

.p-rodape {
    font-size: 23px;
    text-align: center;
}